.login {
    width:100%;
    height:100%;
    .loginHead {
        height:48px;
        line-height:48px;
        width:100%;
        color:#fff;
        font-size:24px;
        background:#666;
        padding-left:50px;
    }
    .loginCon {
        width:calc(100% - 200px);
        height:calc(100% - 48px);
        padding:0 100px;
        background:url(../../../assets/img/rebg.jpg) no-repeat center;
        display:flex;
        align-items:center;
        .leftLogin {
            float:left;
            width:50%;
            // height:100%;
            h3 {
                font-size: 24px;
                height:24px;
                line-height: 24px;
                margin-bottom: 29px;
            }
            .explainText {
                max-width: 480px;
                font-size: 16px;
                color: #606266;
                line-height: 28px;
                // margin-bottom: 42px;
            }
        }
        .rightLogin {
            float:left;
            width:50%;
            height:100%;
            background:#fff;
            display:flex;
            align-items:center;
            .rightCon {
                width:calc(100% - 100px);
                padding:0 50px;
                .bigTit {
                    font-size: 38px;
                    text-align: left;
                    font-weight: 400;
                    color: #25282e;
                    line-height: 38px;
                    margin-bottom: 55px;
                }
                .welcomeTit {
                    font-size: 20px;
                    color: #303133;
                    line-height: 28px;
                    margin-bottom: 22px;
                }
                .loginBtn {
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    color: #fff;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    border-radius:50px;
                    background:#409eff;
                    margin-top:30px;
                }
                .tips {
                    width: calc(100% - 80px);
                    float:right;
                    text-align:center;
                    color:#909399;
                    font-size:14px;
                    span {
                        color:#66f;
                        cursor:pointer;
                        margin-left:10px;
                    }
                    span:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
/deep/.el-form {
    .el-form-item__content {
        width:calc(100% - 80px);
        .el-input {
            width:100%;
        }
    }
    
}