.rightArea {
  width: 100%;
  height: 100%;

  .wigetContent {
    padding: 0 20px;
    box-sizing: border-box;

    /deep/.el-upload-dragger {
      background-color: #fff;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 290px;
      height: 180px;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
  }

  .tips {
    // position: absolute;
    padding-top: 30px;
    box-sizing: border-box;
    z-index: 10;
    left: 75px;

    .tips-attr-p {
      margin-top: 25px;
      font-size: 18px;
      color: silver;
      text-align: center;

      .tz {
        width: 74px;
        height: 24px;
        font-size: 24px;
        color: #7496cf;
        line-height: 36px;
      }
    }
  }
}