.dashboard {
    width:100%;
    height:100%;
    background:#f8fbff;
    .leftSide {
        float:left;
        width: 192px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 8px 16px 0 rgba(80,110,255,.1);
        .siteDataTit {
            padding: 18px 24px 0;
            color: #1095fe;
            font-size: 14px;
        }
        .jumpList {
            li {
                width: calc(100% - 41px);
                height: 40px;
                // padding-left: 38px;
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 14px;
                color: #595959;
                line-height: 40px;
                list-style: none;
                text-align: left;
                padding-left:38px;
                border-left:3px solid transparent;
                cursor: pointer;
                span {
                    display:block;
                    .iconfont {
                        font-size:20px;
                        margin-right:12px;
                        vertical-align: middle;
                    }
                }

            }
            li.active {
                border-left: 3px solid #1095fe;
                background-color: rgba(119,159,255,.1);
                color: #1095fe;

            }
        }
    }
    .rightContent {
        float:right;
        padding:108px 40px 0;
        width:calc(100% - 272px);
        height:calc(100% - 108px);
        overflow:auto;
        .topFix {
            position:fixed;
            padding-top:20px;
            left:232px;
            top:48px;
            right:40px;
            z-index:10;
            background:#f8fbff;
            /deep/.el-breadcrumb {
                height:18px;
                line-height:18px;
                margin-bottom:17px;
            }
            /deep/.el-form {
                padding-top: 8px;
                padding-left: 24px;
                height: 40px;
                background:#eef4fb;
                .el-form-item {
                    margin-bottom:0;
                    margin-right:15px;
                    .el-form-item__content {
                        line-height:30px;
                        .el-input {
                            width:150px;
                        }
                        .el-input__inner {
                            height:30px;
                            line-height:30px;
                        }
                        .el-input__icon {
                            height:30px;
                            line-height:30px;
                        }
                        .el-range-editor {
                            width:300px;
                            .el-range-separator {
                                height:30px;
                                line-height:30px;
                            }
                        }
                        .el-range-input {
                            width:100px;
                        }
                    }
                }
            }
        }
        .floorList {
            position:relative;
            padding-bottom:30px;
            .title {
                height: 20px;
                line-height: 20px;
                margin: 26px 0 20px;
                padding-left: 12px;
                border-left: 3px solid #1095fe;
                color: #262626;
                font-size: 20px;
                font-weight: 400;
                text-align: left;
            }
            .icon-bangzhu {
                margin-left:10px;
                cursor:pointer;
            }
            .confiditions {
                // margin-top: 26px;
                .title {
                    // margin-bottom:20px;
                }
                .confiditionList {
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    .singleDetail {
                        float:left;
                        width:15%;
                        height:144px;
                        background:#fff;
                        p {
                            width: 100%;
                            height: 48px;
                            line-height: 48px;
                            background-color: #eef4fb;
                            color: #595959;
                            font-size: 16px;
                            text-align:center;
                            // .iconfont {
                            //     margin-left:10px;
                            //     cursor:pointer;
                            // }
                        }
                        .detailValue {
                            width:100%;
                            height:calc(100% - 48px);
                            display:flex;
                            align-items:center;
                            justify-content:center;
                            color:#1095fe;
                            font-size:22px;
                        } 

                    }
                }
            }
            .changeDetail {
                .changeContent {
                    background:#fff;
                    .showRows {
                        height: 48px;
                        line-height: 48px;
                        background-color: #eef4fb;
                        /deep/.el-form {
                            float:right;
                            .el-form-item__content {
                                line-height:32px;
                            }
                            .el-input__inner {
                                height:32px;
                                line-height:32px;
                                margin-top:8px;
                            }
                            .el-select__caret {
                                height:32px;
                                line-height:32px;
                                margin-top:8px;
                            }
                        }
                    }
                    .tableBox {
                        padding:32px;
                    }
                }
            }
            .halfBox {
                float:left;
                width:calc(50% - 16px);
                .halfContent {
                    width:100%;
                    height:380px;
                    background:#fff;
                    border-radius:5px;
                    box-shadow: 0 4px 10px 0 rgba(87,87,87,.1);
                }
            }
            .changeList {
                margin-right:32px;
                .transform {
                    background:#fff;
                    .changeTarget {
                        height: 48px;
                        line-height: 48px;
                        background-color: #eef4fb;
                        /deep/.el-form {
                            float:right;
                            .el-form-item__content {
                                line-height:32px;
                            }
                            .el-input__inner {
                                height:32px;
                                line-height:32px;
                                margin-top:8px;
                            }
                            .el-select__caret {
                                height:32px;
                                line-height:32px;
                                margin-top:8px;
                            }
                        }
                    }
                    .transformChart {
                        width:100%;
                        height:calc(100% - 48px);
                    }
                }
            }
            .channelPro {
                margin-right:32px;
            }

        }
    }
}
/deep/.el-form {
    .el-form-item {
        float:left;
    }
}